*{
    padding: 0;
    margin: 0;
}
nav {
    height: 70px;
    padding: 12px 0;
    width: 100%;
    background-color: red;
    position: absolute;
    z-index: 999;
    background-color: #1D2226;
}
.cont-div {
    padding-bottom: 20px;
}

.big-div {
    display: flex;
    margin-top: 5px;
}

.logo {
    width: fit-content;
}
.sml-scr-sch{
    display: none;
    padding-left: 20px;
}
.inppp{
    border: none;
    margin-top: 5px;
    /* width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between; */
}
.input_div {
    width: fit-content;
    padding: 0 10px;
    height: fit-content;
    background-color: aliceblue;
}

.inp {
    width: 300px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: inherit;
}

.links {
    text-decoration: none;
}

.links:hover {
    color: black !important;
    text-decoration: underline;
}

.drop-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.image_div {
    border: none;
    outline: none;
    background: none;
}

.users {
    position: relative;
}

.hh {
    background-color: #fff;
    position: absolute;
    top: 110%;
    width: 300px;
    right: 0;
    display: none;
}
.users:focus-within .hh {
    display: block;
}
@media (max-width  : 1200px) {
    .input_div{
        display: none;
    }
    .sml-scr-sch{
        display: block!important;
    }
}
@media (max-width : 1000px) {
    .work, .try {
        display: none;
    }
}
@media (max-width : 770px) {
    .users{
        display: none;
    }
}
@media (max-width : 560px) {
    .users{
        display: none;
    }
    .texts{
        display: none;
    }
    .fa-ellipsis{
        display: block!important;
    }
    .dddd{
        padding-top: 14px;
        padding-right: 14px;
    }
    .big-div {
        padding-top: 13px;
    }
    body{
        overflow-x: hidden
    };
}
.one{
    position: fixed;
    height: 400px;
    width: 250px;
    top: 75px;
    left: 40px;
    background-color: #1B1F23;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.one div div{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 3px;
}
.xox button{
    position: fixed;
    top: 485px;
    left: 40px;
    height: 50px;
    width: 250px;
    background-color: blueviolet;
    border-radius: 30px;
    cursor: pointer;
}
.two{
    position: absolute;
    height: 2000px;
    width: 600px;
    top: 75px;
    left: 310px;
    background-color: #1B1F23;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.two div img:first-child{
    width: 70px;
}
.two div img:last-child{
    width: 50px;
}
.two .iii  div div{
    display: flex;
    justify-content: flex-start;
}
.two .iii{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
}
.two .iii div{
    margin-left: 15px;
}
.two .iii div .pp{
    margin-left: 30px;
    color: green;
}
/* .two .iii .pop{
    margin-left: px;
} */
.two .iii div img{
    position: absolute;
    left: 90px;
    /* top: 160px; */
}
.two .iii .a3{
    position: absolute;
    /* top: 70px; */
    right: 30px;
}
.two div:first-child{
    margin: 10px 0 0 10px; 
}
.two .iii div a{
    text-decoration: none;
}
.two .iii div a:hover{
    text-decoration: underline;
}
.three{
    height: 250px;
    width: 300px;
    position: absolute;
    top: 75px;
    left: 940px;
    background-image: url(https://media.licdn.com/dms/image/D560CAQHUo-AZc5Nkkg/spinmail-bannerimage-shrink_300_250/0/1646842436854?e=1693954800&v=beta&t=ZvnEYE3hWCReMvfV5c5ekVTz2blJS12VSbsYy9cK-ks);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.footer{
    height: 300px;
    width: 300px;
    /* background-color: red; */
    position: absolute;
    left: 940px;
    top: 350px;
}
.footer div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.footer div:nth-child(4) p{
    margin-left: 5px;
}
.footer div p:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
